body{
    text-align: center;
    background-size: cover;
}

#head11{
    font-family: 'Rammetto One', cursive;
    margin-top: 0;
    background-color: purple;
    color: burlywood;
    box-shadow: 5px 18px 18px white;
    font-size: 45px;
    align-items: center;
    width: 100%;
}

#head21{
    color: burlywood;
    font-family: 'Finger Paint', cursive;
    font-size: 30px;
    align-items: center;
    background-color: orangered;
    width: 45%;
    border-radius: 70px;
}

#head31{
    font-family: 'Finger Paint', cursive;
    color: greenyellow;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
}

#object_name{
    font-family: 'Expletus Sans', cursive;
    font-size: 20px;
    background-color: peru;
    box-shadow: 2px 10px 10px white;
    color: white;
    margin-top: 10px;
}

#object_accuracy{
    font-family: 'Expletus Sans', cursive;
    font-size: 20px;
    background-color: peru;
    box-shadow: 2px 10px 10px white;
    color: white;
}

#foot{
    position: fixed;
    background-color: gray; 
    color: white; 
    font-size: 25px;
    font-family: 'Finger Paint', cursive;
    line-height: 2;
    text-align: center;
    bottom:  0px;
    width: 100%;
}

canvas{ 
    border: 5px solid greenyellow;
    box-shadow: 5px 5px 5px white; 
    border-radius: 20px; 
    margin-top: 165px; 
}